---
import { getNextAgendaEvents, getPostsSorted } from '../utils'
import MainLayout from '../layouts/MainLayout.astro'
import CloudinaryImage from '../components/CloudinaryImage.astro'
import AgendaEventList from '../components/agenda/AgendaEventList.astro'
import BlogPostList from '../components/blog/BlogPostList.astro'
import ButtonLink from '../components/link/ButtonLink.astro'

const events = await getNextAgendaEvents()

const allPosts = await getPostsSorted()
const latestPosts = allPosts.slice(0, 3)
---

<MainLayout title={null}>
  <section class="layout-center-with-margin">
    <h1>Inici</h1>
    <p>Benvingut/da!</p>
    <CloudinaryImage
      id="2023-02-25-sessio-fotos-carrer/DSC02847c_copia"
      alt="Tots caminant carrer gran amunt"
      resizeWidth={860}
      resizeHeight={290}
      width="100%"
      height="auto"
      style={'aspect-ratio: 860/290'}
    />
  </section>
  <section class="layout-center-with-margin">
    <h2>Agenda</h2>
    <AgendaEventList events={events} headingLevel={3} />
  </section>
  <section class="layout-center-with-margin">
    <h2>Novetats</h2>
    <BlogPostList posts={latestPosts} headingLevel={3} />
    <ButtonLink href="/blog" color="turquesa">Més articles</ButtonLink>
  </section>
</MainLayout>
