---
import { getPostsSorted } from '../utils'
import MainLayout from '../layouts/MainLayout.astro'
import BlogPostList from '../components/blog/BlogPostList.astro'
import ButtonLink from '../components/link/ButtonLink.astro'

const allPosts = await getPostsSorted()
const latestPosts = allPosts.slice(0, 3)
---

<MainLayout title={null}>
  <section class="layout-center-with-margin">
    <h1>Inici</h1>
    <p>Benvingut/da!</p>
  </section>
  <section class="layout-center-with-margin">
    <h2>Novetats</h2>
    <BlogPostList posts={latestPosts} headingLevel={3} />
    <ButtonLink href="/blog">Més articles</ButtonLink>
  </section>
</MainLayout>
