---
import MainLayout from '../layouts/MainLayout.astro'
import { llista2023 } from '../data/llista2023'
---

<MainLayout title="Llista">
  <section class="layout-center">
    <h1 class="layout-center-with-margin">Llista</h1>
    <p class="layout-center-with-margin">
      Eleccions municipals de maig de 2023
    </p>
    <ol>
      {llista2023.map((candidat) => <li>{candidat.nom}</li>)}
    </ol>
  </section>
</MainLayout>
