---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="Programa Electoral">
  <section class="layout-center-with-margin">
    <h1>Programa Electoral</h1>
    <p>
      En un opuscle que Unitat · Argentona per la República va editar amb motiu
      de les eleccions municipals del 26 de maig de 2019 podíem llegir alguns
      dels objectius bàsics que es proposaven executar els membres del nou
      partit. Escrivien:
    </p>
    <div class="triangle-text-grid">
      <div
        class="triangle"
        style={{
          borderColor: 'transparent transparent transparent var(--color-morat)',
        }}
      >
      </div>
      <p class="triangle-text">
        Les persones han de ser el centre de la política. Un bon govern ha de
        facilitar que la gent visqui bé, i treballar perquè l'entorn social del
        poble sigui ric, crític i solidari.
      </p>
      <div
        class="triangle"
        style={{
          borderColor: 'transparent transparent transparent var(--color-groc)',
        }}
      >
      </div>
      <p class="triangle-text">
        L'Ajuntament ha de ser una administració propera, transparent i
        eficient. La institució s'ha de guanyar la confiança de la gent i el
        poble se l'ha de fer seva.
      </p>
      <div
        class="triangle"
        style={{
          borderColor:
            'transparent transparent transparent var(--color-turquesa)',
        }}
      >
      </div>
      <p class="triangle-text">
        Hem de trobar la manera més equilibrada d'encaixar les nostres vides amb
        l'entorn urbà, agrari i forestal del poble.
      </p>
    </div>
    <p>
      És obvi que l’equip responsable de gestionar aquest període que ara acaba
      no ha aconseguit ni de bon tros aquests objectius.
    </p>
    <p>
      Tanmateix, les noves persones que ara ens comprometem a donar suport a la
      nova UNITAT seguim creient totalment vàlides aquestes afirmacions i estem
      disposats a dur-les endavant. Ens sentim continuadors dels principis i de
      la ideologia que va impulsar la creació d’UNITAT.
    </p>
    <p>
      La sortida, però, dels grups que varen formar part dels projecte inicial
      ha alliberat de compromisos les persones que han volgut seguir optant per
      governar l’ajuntament amb el mateix nom d’UNITAT assumint tots el pros i
      contres que el mandat del 2019 ha arrossegat.
    </p>
    <p>
      A l’hora d’escriure el programa ens hem basat en el que es va escriure
      l’any 2019. Hem volgut, però, abandonar redactats de difícil sintaxi i
      comprensió, explicant quines mesures i eines utilitzaríem per fer realitat
      aquests propòsits. Hem preferit textos concisos, fàcils de llegir, amb
      compromisos concrets que fugin de les afirmacions ambigües o que no
      comprometin a res.
    </p>
    <p>
      Per això el nostre programa es presenta amb cent propostes que ens
      agradaria, amb el vostre ajut i els vostres vots, poder tenir ocasió de
      realitzar o, com a mínim, endegar. <strong
        >Sabem que moltes d’elles requeriran, si les podem dur a terme, més d’un
        mandat.</strong
      > I possiblement el temps que transcorrerà entre aquest i el següent farà que
      algunes d’aquestes propostes siguin modificades o desestimades. Per aquesta
      raó ja vàrem publicar un document que contenia 50 d’aquestes propostes, les
      que ens semblaven més urgents i possibles de fer en un mandat. Aquí les posem
      totes perquè ens serveixin de guia i no oblidem mai els objectius fundacionals
      bàsics que hem citat al començament d’aquest text.
    </p>
    <h2>Aquestes són les nostres propostes</h2>
    <ol>
      <h3>SERVEIS INTERNS</h3>

      <li>Farem participar el poble en la priorització de projectes.</li>
      <li>Tindrem en compte criteris socials en l'adjudicació de serveis.</li>
      <li>Crearem el telèfon "Parla amb l'alcalde".</li>
      <li>
        Incorporarem els informes dels diferents Consells municipals en els
        expedients que van al Ple.
      </li>
      <li>
        Posarem un <strong>responsable</strong> encarregat d'aconseguir una <strong
          >organització</strong
        > més àgil i eficaç de l'ajuntament.
      </li>
      <li>
        Redissenyarem l’organització interna per a fer-la més eficaç i àgil.
      </li>
      <li>Municipalitzarem tots els serveis possibles.</li>
      <li>
        Designarem una persona com a responsable de gestionar <strong
          >subvencions</strong
        > i obtenir recursos.
      </li>
      <li>Farem públic cada any l'estat d'execució del pressupost.</li>
      <li>
        Millorarem els serveis municipals de comunicació garantint la
        neutralitat ideològica i la participació plural.
      </li>
      <li>Farem Audiències públiques amb freqüència trimestral.</li>
      <li>Crearem una comissió de seguiment dels contractes públics.</li>
      <li>
        Ajudarem a implantar projectes de coeducació en tots els àmbits del
        municipi.
      </li>

      <h3>SERVEIS A LES PERSONES</h3>

      <li>
        Reactivarem o en el seu cas crearem els Consells de Salut, de Cultura,
        de Joves, d'Infants, de Gent gran i de Seguretat.
      </li>
      <li>
        Negociarem amb el Departament de Salut de la Generalitat la incorporació
        d'un pediatra al CAP del Cros.
      </li>
      <li>
        Promourem polítiques per millorar les condicions de vida al llarg de tot
        el cicle vital.
      </li>
      <li>
        Oferirem cursos sobre l'ús del DEA i la reanimació cardiorespiratòria.
      </li>
      <li>
        Aprovarem un Pla d'acció, amb espais i equips d'assessorament, per a
        persones en situació de vulnerabilitat.
      </li>
      <li>Municipalitzarem la gestió del Casal de la Gent Gran.</li>
      <li>
        Facilitarem l’accés als equipaments assistencials bàsics mitjançant
        serveis de transport públic compartit.
      </li>
      <li>
        Establirem protocols que garanteixin una convivència agradable entre
        humans i animals.
      </li>
      <li>
        Farem un pla de <strong>millora</strong> quadriennal de les <strong
          >instal·lacions escolars</strong
        >.
      </li>
      <li>
        Millorarem els <strong>programes PFI</strong> i treballarem per a començar
        una oferta de FP de grau mitjà.
      </li>
      <li>
        Crearem un Centre Socioeducatiu d'acollida de tarda amb un educador per
        a infants en situació de risc.
      </li>
      <li>Crearem una escola municipal de música.</li>
      <li>
        Executarem el projecte modificat que inclou la nova <strong
          >Biblioteca</strong
        >, reubicant l'Arxiu municipal i la Ràdio.
      </li>
      <li>
        Elaborarem un Pla estratègic de Cultura que inciti els joves a
        implicar-s'hi i participar.
      </li>
      <li>
        Posarem al servei del poble la casa Puig i Cadafalch donant-li els usos
        adequats.
      </li>
      <li>
        Impulsarem l'ampliació del Museu del Càntir comprant l'edifici veí
        incorporant-hi l'Escola de Ceràmica.
      </li>
      <li>
        Farem créixer la Fira Argillà recuperant la dimensió urbana que inclourà
        el vessant popular i el professional.
      </li>
      <li>
        Potenciarem el festival Sense Portes per tal que sigui un pol d'atracció
        per a tot Catalunya.
      </li>
      <li>
        Vetllarem per l'ús del <strong>català</strong> a l'administració i el promocionarem
        a les entitats del poble.
      </li>
      <li>
        Promourem un banc de memòria històrica estructurat amb aportacions dels
        veïns, que difondrem per escoles i entitats.
      </li>
      <li>
        Revisarem els convenis actuals de gestió de la Sala i del Centre
        Parroquial per a augmentar el nombre d'activitats.
      </li>
      <li>
        Crearem nous espais destinats als joves, millorarem els existents i
        ampliarem l'horari del Casal de Joves.
      </li>
      <li>
        Consensuarem la ubicació per a un <strong>Hotel d'Entitats</strong> del teixit
        associatiu.
      </li>
      <li>
        Farem un Pla d'equipaments esportius d'acord amb el pla director de la
        Generalitat incloent-ne de nous i millorant els actuals.
      </li>
      <li>
        Crearem espais de salut i d'activitat física a l'aire lliure instal·lant
        barres i màquines.
      </li>
      <li>
        Promourem l'adequació de les voreres de la Riera d'Argentona per a
        fer-ne un passeig agradable.
      </li>
      <li>
        Potenciarem la creació d'associacions de familiars afectats per
        malalties que provoquen discapacitats funcionals bàsiques.
      </li>
      <li>Proposarem un pla d'acció per fer front a les drogodependències.</li>
      <li>
        Tindrem cura de la salut mental i el benestar emocional del vilatans.
      </li>
      <li>Inclourem la salut en les iniciatives mediambientals.</li>
      <li>
        Farem projectes d'inserció laboral, amb acompanyaments, per a persones
        en situacions de vulnerabilitat.
      </li>
      <li>
        Establirem espais i equips d'assessorament i suport en casos de
        desnonament o finalització de lloguer.
      </li>
      <li>Crearem mecanismes perquè cap persona gran es senti sola.</li>
      <li>
        Donarem preferència a les polítiques d'envelliment actiu amb activitats
        culturals i formatives.
      </li>
      <li>
        Ampliarem els serveis d'atenció domiciliària amb l'ajut d'associacions
        de voluntaris.
      </li>
      <li>Ampliarem l'horari d'obertura del Casal de joves.</li>
      <li>
        Mantindrem oberts, fora de l'horari escolar, els patis de les escoles
        per a usos esportius.
      </li>
      <li>
        Ajudarem els projectes destinats a millorar la qualitat educativa.
      </li>
      <li>
        Participarem i treballarem per millorar la implantació del projecte
        Educació 360.
      </li>
      <li>
        Participarem de forma activa en els projectes de mediació i mentoria
        escolar.
      </li>
      <li>Ajudarem a implementar el Projecte Educatiu d'Entorn.</li>
      <li>
        Potenciarem l'Escola de Ceràmica per convertir-la en un referent
        nacional.
      </li>
      <li>
        Programarem el disseny i comercialització del Càntir de l'Any com un
        esdeveniment de caràcter nacional.
      </li>
      <li>Crearem noves sales per a exposicions.</li>
      <li>Condicionarem i rehabilitarem totes les zones esportives.</li>
      <li>
        Ordenarem el Pla d'equipaments esportius d'acord amb el Pla Director
        d'Eq. Esportius de Catalunya.
      </li>
      <li>
        Redactarem un Estudi de Programació pel que fa a millora i adequació
        dels equipaments existents.
      </li>
      <li>
        Establirem un calendari realista d'actuacions que inclogui una inversió
        anual de millora i manteniment.
      </li>
      <li>
        Organitzarem esdeveniments esportius populars com la Cursa de la Dona.
      </li>
      <li>
        Supervisarem l'aplicació dels protocols de les colònies de gats i
        revisarem el de recollida d'animals.
      </li>

      <h3>SERVEIS ECONÒMICS</h3>

      <li>
        Incentivarem la instal·lació d'empreses socialment responsables i
        capdavanteres en la lluita contra canvi climàtic.
      </li>
      <li>
        Potenciarem els mercats setmanals i les fires comercials que afavoreixin
        el comerç local.
      </li>
      <li>
        Promourem la millora del paisatge urbà que faciliti la renovació
        d'accessos i façanes de comerços.
      </li>
      <li>
        Farem una ordenança municipal, basada en l'ADN, que ajudi a eliminar
        dels carrers les <strong>defecacions animals</strong>.
      </li>
      <li>
        Reduirem el balanç energètic impulsant la instal·lació de panells
        fotovoltaics.
      </li>
      <li>
        Impulsarem una mobilitat sostenible i renovarem el parc mòbil municipal
        amb vehicles elèctrics.
      </li>
      <li>
        Potenciarem i/o crearem transport públic de circumval·lació entre
        veïnats i centre.
      </li>
      <li>
        Promourem les mesures de SomMobilitat per a una mobilitat sostenible al
        municipi.
      </li>
      <li>
        Transformarem el conjunt Plaça de Vendre - Biblioteca en una zona
        comercial i cultural de qualitat.
      </li>
      <li>
        Treballarem per aconseguir la recepció 5G a tots els indrets del
        municipi.
      </li>

      <h3>SERVEIS TERRITORIALS</h3>

      <li>
        Impulsarem la construcció d'habitatge dotacional per a joves i gent
        gran.
      </li>
      <li>
        Desenvoluparem El Collell, per a obtenir habitatge protegit, equipaments
        i la connectivitat viària necessària.
      </li>
      <li>
        Relligarem el Cros amb el poble, fent-lo sostenible urbanísticament i
        econòmica, potenciant nous equipaments.
      </li>
      <li>
        Establirem <strong
          >plans anuals de manteniment i millora de voreres</strong
        > i espai públic en general.
      </li>
      <li>
        Planificarem <strong>aparcaments soterrats</strong> al voltant del centre
        per suplir la manca d'aparcament de pupil·latge.
      </li>
      <li>
        Crearem aparcaments gratuïts en superfície i a la perifèria a distàncies
        inferiors als 500 m. del centre.
      </li>
      <li>
        Dedicarem el màxim esforç a trobar el més ampli consens per a fer
        realitat el projecte de la <strong>Velcro</strong> que entre tots decidim.
      </li>
      <li>
        Tractarem el manteniment de l'espai públic dels <strong>veïnats</strong>
        com si fos Sol Urbà Consolidat.
      </li>
      <li>
        Redactarem un Pla Director d’arbrat viari que determini quin arbre toca
        a cada lloc sense crear conflictes amb els veïns.
      </li>
      <li>
        Millorarem la senyalització de rutes de muntanya i adequarem els camins
        entre nucli i urbanitzacions.
      </li>
      <li>
        Naturalitzarem l'espai de la Font Picant adequant-lo per a gaudi de
        grans i petits.
      </li>
      <li>
        Destinarem part del PA-13 Serra Lladó per a habitatges de <strong
          >lloguer dotacional per a joves</strong
        >.
      </li>
      <li>
        Agilitzarem el desenvolupament del Pla de Millora PMU-1 que inclou
        <strong>habitatge protegit</strong>.
      </li>
      <li>
        Dissenyarem i construirem <strong>rutes escolars</strong> segures eliminant
        barreres arquitectòniques.
      </li>
      <li>Redissenyarem la zona vermella amb 250 places d'aparcament.</li>
      <li>
        Potenciarem i/o crearem transports públics de circumval·lació entre els
        veïnats i el centre.
      </li>
      <li>
        Modificarem aspectes parcials del POUM i desenvoluparem els Plans
        Especials.
      </li>
      <li>
        Redibuixarem la façana nord del poble per fer-la més sostenible i
        acollidora.
      </li>
      <li>
        Negociarem l’obtenció de 12.000 m<sup>2</sup> de sòl per a nous equipaments.
      </li>
      <li>
        Impulsarem la creació de 195 habitatges al Cros amb la corresponent
        dotació d'espais per fer un barri viable socialment i i econòmica.
      </li>
      <li>
        Treballarem (amb altres administracions) per a la regeneració ambiental
        de la riera d’Argentona.
      </li>
      <li>
        Millorarem el paisatge urbà amb un pla de manteniment i ajuts als espais
        privats.
      </li>
      <li>
        Farem carrers amb prioritat invertida, plataforma única i limitació de
        velocitat a 10 km/h.
      </li>
      <li>
        Descatalogarem els <strong>plàtans del Passeig Marina</strong> per esporgar-los
        i/o substituir-los.
      </li>
      <li>
        Millorarem la jardineria substituint l'arbrat obsolet i disfuncional.
      </li>
      <li>
        Portarem l'art al carrer amb instal·lació d'escultures donant
        preferència als autors joves.
      </li>
      <li>Crearem un entorn amable i tranquil a la Vall de Clarà.</li>
    </ol>
  </section>
</MainLayout>

<style>
  p {
    margin-top: var(--layout-content-margin-1_5);
    line-height: var(--line-height-full-width-paragraph);
  }

  h3 {
    margin-top: 55px;
    margin-bottom: var(--layout-content-margin);
  }

  li {
    margin-bottom: 7px;
  }

  .triangle-text-grid {
    margin-top: 25px;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 15px;
    grid-row-gap: 25px;
  }

  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    align-self: center;
  }

  .triangle-text {
    align-self: center;
    font-size: var(--font-size-18);
    margin: 0;
  }
</style>
