---
import MainLayout from '../layouts/MainLayout.astro'
import CloudinaryImage from '../components/CloudinaryImage.astro'
---

<MainLayout title="Què és Unitat?">
  <section class="layout-center-with-margin">
    <h1>Què és Unitat?</h1>
    <CloudinaryImage
      id="2023-02-25-sessio-fotos-carrer/DSC02853c"
      alt="Foto Font de Sant Domènec"
      class="image"
      resizeWidth={860}
    />
    <h2>Som independents</h2>
    <p>
      Unitat va nèixer com a una agrupació de partits, al voltant d’uns
      objectius republicans comuns. El projecte va ser ben rebut i Unitat
      obtingué un 39,99% dels vots a les eleccions municipals de l’any 2019.
    </p>
    <p>
      Una sèrie de fets aliens a la política municipal van influir negativament
      en la gestió del govern que es va formar: una epidèmia que ens va obligar
      a estar a casa, la mort d’un regidor, la marxa d’una regidora a una altra
      administració i la substitució de l’alcalde per un comportament ètic
      rebutjat per la resta del partit.
    </p>
    <p>
      Malgrat tot, el govern ha aconseguit algunes fites meritòries: les
      aprovacions del Pla d’Ordenació Urbana Municipal i del Pla parcial del
      Collell, la restauració de l’edifici Puig i Cadafalch, la municipalització
      del Museu del Càntir i el local social de Les Ginesteres. Cal destacar
      també el reconeixement i atracció que han creat les nostres festes i
      activitats culturals com ho demostren la Fira Argillà i el Festival Sense
      Portes.
    </p>
    <p>
      Quasi tots els partits i associacions que varen crear UNITAT han pensat
      que aquest projecte no donava ja per més i han decidit separar-se’n.
    </p>
    <p>
      Queden, doncs, dins d’aquesta nova Unitat les persones independents que no
      estan disposades a seguir les consignes de cap partit i no lliuraran a
      ningú els vots que obtinguin. Creiem en el projecte inicial i estem
      disposats a girar l’actual situació de desencís. Hi ha entusiasme i una
      clara voluntat per a fer-ho.
    </p>
    <h2>Som independentistes</h2>
    <p>
      Nova Unitat reconeix els resultats de la votació del primer d’octubre del
      2017 i accepta com a vàlida la declaració solemne d’independència que va
      proclamar el nostre parlament el 28 d’octubre del mateix any. Només la por
      o la desídia d’alguns governants ha impedit el control del territori, de
      les finances i del sistema judicial. El nostre ajuntament es posarà al
      costat del govern i del parlament si prenen decisions per a aconseguir
      aquests objectius. Estarem al costat de l’Assemblea Nacional Catalana, el
      Consell de la República i l’Associació de Municipis per la Independència.
    </p>
    <p>
      Encara que els ajuntaments no tinguin competències per a aconseguir la
      independència, sí poden aplicar -i ho farem- polítiques basades en valors
      republicans, humanistes, igualitaris, que no facin discriminacions per raó
      de gènere, de cultura, d’ètnia o de creences.
    </p>
    <CloudinaryImage
      id="2023-02-25-sessio-fotos-carrer/DSC02859c"
      alt="Foto Font de Sant Domènec"
      class="image"
      resizeWidth={860}
    />
    <h2>Estem enamorats d’Argentona</h2>
    <p>
      Un lloc on la gent viu bé i un entorn agradable. Dues coses que volem
      millorar.
    </p>
    <p>
      Per a les persones, reforçarem el diàleg creant el telèfon “Parla amb
      l’alcalde”, incentivarem o crearem consells de participació que tindran
      veu en els expedients municipals, agilitzarem la gestió municipal evitant
      retards injustificables, farem habitatges de lloguer assequible per a
      joves i gent gran, farem el possible per a consensuar i tenir un hotel
      d’entitats, executarem el projecte modificat de la Biblioteca amb
      aparcament, crearem parcs infantils i espais de salut a l’aire lliure,
      facilitarem l’accés de les persones necessitades als serveis bàsics,
      millorarem l’oferta de PFI i impulsarem una FP de grau mitjà, potenciarem
      l’ús del català i impulsarem la Memòria Històrica.
    </p>
    <p>
      Pel que respecta al territori, promourem la millora del paisatge urbà,
      endreçarem voreres i paviments, impulsarem una mobilitat sostenible amb
      vehicles elèctrics i aparcaments al centre, farem un pla anual de millores
      i manteniment dels edificis escolars i esportius, desenvoluparem el
      Collell per a obtenir habitatges i equipaments, netejarem els carrers de
      defecacions, adequarem vies d’accés als veïnats, reduirem el balanç
      energètic amb panells fotovoltaics, farem del Cros un veïnat sostenible,
      lligat al nucli, crearem un transport entre els veïnats i el nucli i
      tractarem els veïnats com a sol urbà consolidat.
    </p>
    <p>
      Per a fer-ho, però, haurem d’activar una maquinària municipal, que avui
      sembla aturada. Haurem de tornar la il·lusió als treballadors públics, amb
      qui crearem equips mixtes que pensin i executin projectes en benefici del
      poble. I farem junts reunions periòdiques per a determinar objectius i
      fixar calendaris d’actuació.
    </p>
  </section>
</MainLayout>

<style>
  p {
    margin-top: var(--layout-content-margin);
  }

  .image {
    width: 100%;
    height: auto;
    aspect-ratio: 5472/3648;
    margin-top: var(--layout-content-margin);
  }
</style>
