---
import '../styles/global.css'
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/estrella-unitat.svg" />
    <title>Unitat</title>
  </head>
  <body>
    <div>
      <Header />
      <nav class="layout-center">
        <a href="/">Inici</a>
      </nav>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
