---
interface Props {
  href: string
  children: any
}

const { href } = Astro.props

// '.html' at the end of the URL
const htmlRegex: RegExp = /(.html)$/

const isActive =
  href.substring(1) ===
  Astro.url.pathname.substring(1).replace(htmlRegex, '').split('/')[0]
---

<a href={href} class:list={['nav-link', { 'nav-link-active': isActive }]}>
  <slot />
</a>

<style>
  .nav-link {
    padding: 4px var(--layout-content-margin-0_5);
    text-decoration: none;
    color: black;
  }

  .nav-link:hover,
  .nav-link-active {
    color: white;
    text-decoration: underline;
    text-decoration-thickness: var(--layout-border);
  }

  @media all and (min-width: 768px) {
    .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
</style>
